{% extends 'base_art.html' %}

{% block title %}
    Стварыць Артыкул - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'article_create_url' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>

        {% endfor %}
        <button type="submit" class="btn btn-primary">Стварыць</button>
    </form>
{% endblock %}