{% extends 'base_art.html' %}

{% block title %}
    Выдаліць тэг "{{ tag.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'article_delete_url' id=tag.id %}" method="POST">
        {% csrf_token %}

        <h3>Упэўнены, што хочаце выдаліць тэг <b>"{{ tag.title|title }}"</b>?</h3>
        <a href="{% url article_delete_url id=tag.id %}">Адмяніць</a>
        <button type="submit" class="btn btn-danger">Выдаліць</button>
    </form>
{% endblock %}